<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Samsung">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="R68T7029JNP" />
		<parameter name="deviceName" value="SM A137F" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="com.qa.runners.SamsungRealDevTestNGRunnerTest"/>
		</classes>
	</test>
<!--	<test name="Lenovo">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="HPV31N24" />
		<parameter name="deviceName" value="TabletAnd11" />
		<parameter name="systemPort" value="10001" />
		<parameter name="chromeDriverPort" value="11001" />
		<classes>
			<class name="com.qa.runners.LenovoRealDevTestNGRunnerTest"/>
		</classes>
	</test>-->
</suite> <!-- Suite -->
